# chatahub/docker-compose.yml

services:
  app:
    build: .
    command: sh -c "rm -f tmp/pids/server.pid && ruby bin/rails server -b 0.0.0.0"
    volumes:
      - .:/app
    ports:
      - "3000:3000"
    depends_on:
      - db
      - redis
    environment:
      RAILS_ENV: development
      DATABASE_URL: postgresql://postgres:password@db:5432/chatahub_development
      REDIS_URL: redis://redis:6379/1

  db:
    image: postgres:16-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
  #    ports:
  #      - "5432:5432"

  redis:
    image: redis:7-alpine
    volumes:
      - redis_data:/data
#    ports:
#      - "6379:6379"

volumes:
  postgres_data:
  redis_data:
